.App-footer {
    border-top: 3px solid red;
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}