.Holberton-logo {
  width: 200px;
  height: auto;
}
h1 {
  display: inline;
  color: red;
  position: absolute;
  top: 40px;
  left: 218px;
}

.App-header {
  border-bottom: 3px solid red;
}

.App-footer {
  border-top: 3px solid red;
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
}

.App-body {
  padding: 30px;
}